@model Web.Models.Question

@using (Html.BeginForm("Create", "Questions", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.IssueId)
    <div class="row">
        Hỏi: <br />
        <div class="container"></div>
        <textarea id="Content" name="Content" rows="2" class="col-md-12" placeholder="Post a new message"></textarea>
        <p>
            <input type="submit" value="Create" class="btn btn-default" />
        </p>
        <ul class="nav nav-pills profile-pills m-t-10">
            <li>
                <a href="#"><i class="fa fa-user"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-location-arrow"></i></a>
            </li>
            <li>
                <a href="#"><i class=" fa fa-camera"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-smile-o"></i></a>
            </li>
        </ul>
    </div>
}
