@model Web.ModelViews.IndexIssuesViewModel

<!-- items being paged -->
@foreach (var item in Model.Items)
{
    @Html.Partial("_IssueItem", item)
    <hr />
}

<!-- pager -->
@if (Model.Pager.EndPage > 1)
{
    <ul class="pagination">
        @if (Model.Pager.CurrentPage > 1)
        {
            <li>
                <a href="~/Home/Index">First</a>
            </li>
            <li>
                <a href="~/Home/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
            <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                <a href="~/Home/Index?page=@page">@page</a>
            </li>    
        }

        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
            <li>
                <a href="~/Home/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
            </li>
            <li>
                <a href="~/Home/Index?page=@(Model.Pager.TotalPages)">Last</a>
            </li>
        }
    </ul>
}
			