@using CafeT.Time
@model IEnumerable<Web.Models.IssueView>

@if (Model != null)
{
    var _totalTime = (double)Model.Sum(t => t.IssueEstimation);
    var _percent = (double)Model.Sum(t => t.IssueEstimation) / (8 * 60) * 100;
    <h4 class="header-title m-t-0 m-b-30 text-primary">
        @Html.Raw("Items ") (@Model.Count()) | Thời gian @_totalTime (phút) = @String.Format("{0:0.##}", _percent) %
    </h4>
}
