@using Web.Helpers
@model IEnumerable<Web.Models.WorkIssue>

Dashboard: <br />
Total (TimeTodo)
<span class="label label-danger">
    @Model.ToList().TotalMinutesTimeTodo()
</span>
 (minutes);
<span class="label label-default">
    @Model.ToList().TotalHoursTimeTodo();
</span>
 hours
<span class="label label-default">
    @Model.ToList().TotalDaysTimeTodo()
</span>
 days

