@model IEnumerable<Web.Models.Question>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.Partial("Questions/_QuestionItem", item)
        </li>

    }
</ul>