@using CafeT.Time
@model IEnumerable<Web.Models.Job>

<div class="card border-success">
    <div class="card-header">
        Jobs
        <span class="badge badge-danger">
            @Model.Count()
        </span>
    </div>
</div>
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.Partial("Jobs/_Job", item)
        </li>
    }
</ul>