@model Web.Models.Contact

<div class="card-link">
    @Html.ActionLink("Edit", "Edit", "Contacts", new { id = Model.Id }, null)
    @Html.ActionLink("Details", "Details", "Contacts", new { id = Model.Id }, null)
    @Html.ActionLink("Delete", "Delete", "Contacts", new { id = Model.Id }, null)
</div>