@{
    ViewBag.Title = "Lấy lại mật khẩu";
}

<div class="col-sm-16 business  wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="50">
    <div class="main-title-outer pull-left">
        <div class="main-title">Lấy lại mật khẩu</div>
    </div>
    <div class="row">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Vui lòng kiểm tra email của bạn để tiến hành lấy lại mật khẩu.
            </p>
        </div>
    </div>
    <hr>
</div>	
