@model Mvc5.CafeT.vn.ModelViews.UserProfileView

@if (User.Identity.IsAuthenticated)
{

    @Html.Raw("Đã thuộc: ")
    <span class="badge badge-success">@Model.CountOfRemembered</span>
    <br />
    @Html.Raw("Từ mới: ")
    <span class="badge badge-danger">@Model.CountOfNewWords</span>
}
