@model Web.Models.Answer

@using (Html.BeginForm("Create", "Answers", new { questionId = Model.QuestionId }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)
    <div class="card-box">
        <span class="input-icon icon-right">
            Đáp: <br />
        </span>
        <textarea id="Content" name="Content"  rows="1" class="form-control" placeholder="Post a new message">
        </textarea>
        <div class="p-t-10 pull-right">
            <p>
                <input type="submit" value="Reply" class="btn btn-default" />
            </p>
        </div>
        
    </div>
}
