@using CafeT.Time
@using Web.Models
@model IEnumerable<Web.Models.Job>

<div class="row">
    <div class="col-md-8">
        @Html.Partial("Jobs/_Jobs", Model)
    </div>
    @*<div class="col-md-4">
        @Html.Partial("Jobs/_HotJobs", (IEnumerable<Job>)ViewBag.HotJobs)
    </div>*@
</div>
