@model IEnumerable<Word>
<div class="list-group">    
    <a href="javascript:void(0);" class="list-group-item active">
        List
    </a>
    @if (Model != null && Model.Count() > 0)
    {
        <ul class="list-group">
            @foreach (var item in Model)
            {
                if (!item.Value.Contains("."))
                {
                    <li class="list-group-item">
                        @Html.Raw(item.Value)|
                        @Ajax.ActionLink("Save", "Save", "WordModels", new { model = item.Value },
                        new AjaxOptions
                        {
                            UpdateTargetId = "Update",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "Post"
                        }, null)
                    </li>
                }
            }
        </ul>
    }
    
</div>