@model string


<a href="@Html.Raw(Model)" class="user-list-item">
    <div class="avatar text-center">
        <i class="zmdi zmdi-circle text-pink"></i>
    </div>
    <div class="user-desc">
        <span class="name">@Html.Raw(Model)</span>
        <span class="desc">February 29, 2016 - 10:30am to 12:45pm</span>
    </div>
</a>