<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Trang thành viên</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <div class="links-widget m30">
                        <ul class="check">
                            <li><a href="http://chuyentin.vn">ChuyenTin.vn</a></li>
                            <li><a href="http://chuyenly.vn">ChuyenLy.vn</a></li>
                            <li><a href="http://chuyenHoa.vn">ChuyenHoa.vn</a></li>
                            <li><a href="http://cafet.vn">CafeT.vn</a></li>
                            <li><a href="http://arduinolb.vn">ArduinoLab.vn</a></li>
                            <li><a href="http://microhome.vn">MicroHome.vn</a></li>
                        </ul>
                    </div><!-- end links -->
                </div><!-- end widget -->
            </div><!-- end col -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Tổng quan website</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <div class="links-widget m30">
                        <ul class="check">
                            <li><a href="#">Forums</a></li>
                            <li><a href="#">Send us a tip!</a></li>
                            <li><a href="#">Add to our database</a></li>
                            <li><a href="#">Write a review</a></li>
                            <li><a href="#">Report site issue</a></li>
                            <li><a href="#">Our Authors</a></li>
                            <li><a href="#">Site Categories</a></li>
                        </ul>
                    </div><!-- end links -->
                </div><!-- end widget -->
            </div><!-- end col -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Mạng xã hội</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <div class="links-widget m30">
                        <ul class="sociallinks">
                            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i> Vimeo</a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i> YouTube</a></li>
                            <li><a href="#"><i class="fa fa-maxcdn"></i> MaxCDN</a></li>
                        </ul>
                    </div><!-- end links -->
                </div><!-- end widget -->
            </div><!-- end col -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Đăng ký nhận tin mới từ diễn đàn</h4>
                        <hr>
                    </div><!-- end widget-title -->
                    <div class="newsletter-widget m30">
                        <p>Mời bạn nhập địa chỉ email đăng ký nhận tin mới từ diễn đàn.</p>
                        <form class="form-inline" method="post" role="form">
                            <div class="input-group form-group">
                                <input type="text" name="email" placeholder="Nhập địa chỉ email.." required class="form-control" />
                            </div>
                            <input type="submit" value="Đăng ký" class="btn btn-primary" />
                        </form>
                        <hr>
                        <h3>
                            <span>12.441 Thành viên</span>
                            <span>122.000 bài viết</span>
                        </h3>
                    </div><!-- end mini-widget -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->
<div id="sitefooter-wrap">
    <div id="sitefooter" class="container">
        <div id="copyright" class="row">
            <div class="col-md-6 col-sm-12 text-left">
                <p class="copyright-notice"><span class="fa fa-copyright"></span> 2017 ChuyenToan.vn - Founder <a href="#" title="TemplateVisual" target="_blank">Phan Minh Tài</a>.</p>
                <p class="footer-links">Địa chỉ: Penta Coffee - 88 Lê Bình, Phường 4, Quận Tân Bình, TP. Hồ Chí Minh</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="list-inline text-right">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Bản đồ</a></li>
                    <li><a href="#">Sự kiện</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a class="topbutton" href="#">Lên đầu trang <i class="fa fa-angle-up"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>