<div class="container">
    <div class="row">
        <div class="col-md-16 text-uppercase">
            <div class="row">
                <div class="col-sm-8 col-xs-16">
                    @RenderPage("~/Views/Shared/_LoginPartial.cshtml")
                </div>
                <div class="col-xs-16 col-sm-8">
                    <div class="row">
                        <div id="weather" class="col-xs-16 col-sm-8 col-lg-9"></div>
                        <div id="time-date" class="col-xs-16 col-sm-8 col-lg-7"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>