<div class="widget">
    <div class="widget-title">
        <h4>Mạng xã hội</h4>
        <hr>
    </div><!-- end widget-title -->
    <div class="mini-widget carrier-widget m30" style="text-align: center">
        <div class="fb-page" 
             data-href="https://www.facebook.com/ChuyenToan.VietNam/" 
             data-tabs="timeline" 
             data-small-header="false" 
             data-adapt-container-width="true" 
             data-hide-cover="false" 
             data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/ChuyenToan.VietNam/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/ChuyenToan.VietNam/">ChuyenToan.vn</a>
            </blockquote>
        </div>
    </div><!-- end social -->
</div>