@model IEnumerable<Web.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    @Html.Partial("Projects/_Item", item)
                </li>
            }
        </ul>
    </div>
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
</div>

