<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8a1ea2fa-7980-4058-a2fc-253dda8bcef4/resourcegroups/WorkCardDbGroup/providers/Microsoft.Web/sites/MathBot20170614014944</ResourceId>
    <ResourceGroup>WorkCardDbGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mathbot20170614014944.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>mathbot20170614014944.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MathBot20170614014944</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MathBot20170614014944</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MathBotDataContextConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:workcard.database.windows.net,1433;Initial Catalog=MathBot;Persist Security Info=False;User ID=workcard;Password=P@$$w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:workcard.database.windows.net,1433;Initial Catalog=MathBot;Persist Security Info=False;User ID=workcard;Password=P@$$w0rd;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MathBot.Models.MathBotDataContext, Bot Application" MigrationConfiguration="MathBot.Migrations.Configuration, Bot Application" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WorkCard" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:workcard.database.windows.net,1433;Initial Catalog=WorkCard.vn;Persist Security Info=False;User ID=workcard;Password=P@$$w0rd;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WorkCard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:workcard.database.windows.net,1433;Initial Catalog=WorkCard.vn;Persist Security Info=False;User ID=workcard;Password=P@$$w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MathBotDataContextConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:workcard.database.windows.net,1433;Initial Catalog=MathBot;Persist Security Info=False;User ID=workcard;Password=P@$$w0rd;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WorkCard-Web.config Connection String" />
  </ItemGroup>
</Project>