@model IEnumerable<string>
<h5 class="text-primary">
    New words
</h5>
@if (Model != null && Model.Count() > 0)
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                @Html.Raw(item)
                <div id="Update-@item" class="pull-right">
                   @Ajax.ActionLink("Save", "Save", "WordModels", new { model = item },
                        new AjaxOptions
                        {
                            UpdateTargetId = "Update-" + item,
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "Post"
                        }, null)
                </div>
            </li>
        }
    </ul>
}