@model Mvc5.CafeT.vn.ModelViews.CommentView

<div class="post-title">
    @if (!Model.Title.IsNullOrEmptyOrWhiteSpace())
    {
        <a href="/Comments/Details/@Model.Id"> @Model.Title </a>
    }
    else
    {
        string _title = Model.Content.GetLines().ToArray()[1];
        <a href="/Comments/Details/@Model.Id"> _title </a>
    }
    @if (Model.IsNews())
    {
        @Html.Partial("Messages/_New")
    }
</div>





