<script type="text/javascript">
    $.get('@Url.Action("GetLastestArticles", "Articles", new { n = 5})',
        function (data) {
            $('#Articles').html(data);
        });
</script>
<div class="row">
    <div class="col-md-4">
        <div id="Articles"></div>
    </div>
    <div class="col-md-4">
        <div id="jobs-box"></div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <i class="material-icons pulse-shrink mdi mdi-arrange-send-backward"></i>
            </div>
            <div class="media-body">
                <h2 class="subtitle"><a href="#">ĐƠN GIẢN VÀ DỄ SỬ DỤNG</a></h2>
                <p>
                    Bạn chỉ cần đăng ký (01) tài khoản hợp lệ và Đăng nhập là có thể sử dụng được WorkCard.vn để quản lý dự án và công việc cá nhân của mình
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <i class="material-icons pulse-shrink mdi mdi-code-tags-check"></i>
            </div>
            <div class="media-body">
                <h2 class="subtitle"><a href="#">MIỄN PHÍ và LUÔN LUÔN MIỄN PHÍ</a></h2>
                <p>
                    WorkCard.vn thực hiện chính sách miễn phí trọn đời cho người dùng (cá nhân). Bạn không cần phải chi trả bất cứ khoản chi phí nào để sử dụng WorkCard.vn
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <i class="material-icons pulse-shrink mdi mdi-grid"></i>
            </div>
            <div class="media-body">
                <h2 class="subtitle"><a href="#">TỐC ĐỘ VÀ SỰ ỔN ĐỊNH</a></h2>
                <p>
                    WorkCard.vn được hosting tại Google Cloud VPS, do đó đảm bảo tốc độ truy cập và sự ổn định cao
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <i class="material-icons pulse-shrink mdi mdi-update"></i>
            </div>
            <div class="media-body">
                <h2 class="subtitle"><a href="#">NGUYÊN TẮC QUẢN TRỊ CÔNG VIỆC 4.0</a></h2>
                <p>
                    1) Dễ dàng tạo và quản lý công việc của mình
                    2) Thường xuyên nhắc nhở bạn để tập trung vào mục tiêu
                    3) Có gợi ý để giúp bạn hoàn thành công việc nhanh chóng
                </p>
            </div>
        </div>
    </div>
</div>

