<div class="container bg-transparent">
    <hr />
    Tác giả: Phan Minh Tài - Founder of WorkCard.vn | Một sản phẩm của CafeT.vn
    <p>&copy; 2018 WorkCard.vn and CafeT.vn, All right reserved</p>
</div>