<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8a1ea2fa-7980-4058-a2fc-253dda8bcef4/resourcegroups/WorkCardDbGroup/providers/Microsoft.Web/sites/CafeTech</ResourceId>
    <ResourceGroup>WorkCardDbGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cafetech.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>cafetech.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CafeTech</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CafeTech</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Repository.Pattern.Ef6.DataContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repository.Pattern.Ef6.DataContext, Repository.Pattern.Ef6" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:workcard.database.windows.net,1433;Initial Catalog=CafeT.vn;Persist Security Info=True;User ID=workcard;Password=P@$$w0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Mvc5.CafeT.vn.Models.ApplicationDbContext, Mvc5.CafeT.vn" MigrationConfiguration="Mvc5.CafeT.vn.Migrations.Configuration, Mvc5.CafeT.vn" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:workcard.database.windows.net,1433;Initial Catalog=CafeT.vn;Persist Security Info=True;User ID=workcard;Password=P@$$w0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:workcard.database.windows.net,1433;Initial Catalog=CafeT.vn;Persist Security Info=True;User ID=workcard;Password=P@$$w0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:workcard.database.windows.net,1433;Initial Catalog=CafeT.vn;Persist Security Info=True;User ID=workcard;Password=P@$$w0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Repository.Pattern.Ef6.DataContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Repository.Pattern.Ef6.DataContext" />
  </ItemGroup>
</Project>