@model IEnumerable<Web.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $.get('@Url.Action("LoadUsers", "UsersAdmin", new { n = 10})',
        function (data) {
            $('#Users').html(data);
        });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="Users"></div>
