<footer>
    <div class="">
        <p class="pull-right">
            <span class="lead"> <i class="fa fa-paw"></i> Smart Tracking © 2016</span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>