<div class="profile">
    <div class="profile_pic">
        <img src="@Url.Content("~/Content/Images/male_profile.gif")" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>@User.Identity.Name</h2>
    </div>
</div>