@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/avatar/imgareaselect-default.css" rel="stylesheet" />
<link href="~/Content/avatar/jquery.awesome-cropper.css" rel="stylesheet" />

<div class="container-narrow">
    <div>
        <h1>jQuery jQuery Awesome Cropper Demo</h1>
        <form role="form" method="post">
            <input id="imageBase" type="hidden" name="imageBase">
            <input type="submit" value="Save" />
        </form>
    </div>
</div>

<script src="~/Scripts/avatar/jquery.imgareaselect.js"></script>
<script src="~/Scripts/avatar/jquery.awesome-cropper.js"></script>

<script>
    $(document).ready(function () {
        $('#imageBase').awesomeCropper(
        { width: 150, height: 300, debug: true }
        );
    });
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>