@model Mvc5.CafeT.vn.Models.ApplicationUser

<div class="panel panel-default">
    <div class="panel-heading">
        @if (Model != null)
        {
            <h4 class="panel-title">
                @Html.ActionLink(Model.LastName + " " + Model.FirstName, "Details", "ApplicationUsers", new { userName = Model.UserName }, null)
            </h4>
        }
    </div>
    <div class="panel-body">
        @Html.Raw(Model.About)
    </div>
</div>