<div class="row hidden-xs">
    <div class="col-md-12">
        <div class="news-ticker clearfix">
            <div class="news-title">
                <h3>Thông báo mới</h3>
            </div>
            <ul id="ticker">
                <li><a href="single.html" title="">Khai trương văn phòng Chuyên Toán mới tại TP HCM - <span>March 01, 2017</span></a></li>
                <li><a href="single.html" title="">Mừng sinh nhật Chuyên Toán tròn 5 tuổi  - <span>March 01, 2017</span></a></li>
                <li><a href="single.html" title="">Khai trương lớp luyện thi Đại Học năm 2017  - <span>March 01, 2017</span></a></li>
            </ul>
            <div class="random clearfix">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Random">
                    <span class="random-article">
                        <i class="fa fa-random"></i>
                    </span>
                </a>
            </div><!-- end random -->
        </div><!-- end news-ticker -->
    </div><!-- end col -->
</div><!-- end row -->