<script type="text/javascript">
        $.get('@Url.Action("GetUserProfile", "Home", null)', function (data) {
            $('#Profile').html(data);
        });
</script>
<div class="widget">
    <div class="widget-title">
        <h4>Tài khoản</h4>
        <hr>
    </div><!-- end widget-title -->
    <div class="mini-widget carrier-widget m30" style="text-align: center">
        @RenderPage("~/Views/Shared/Account/_LoginPartial.cshtml")
    </div><!-- end social -->
    <div id="Profile"></div>
</div>
@RenderPage("~/Views/Shared/Layouts/_Left-PageFacebook.cshtml")

