<div id="sync1" class="owl-carousel">
    <div class="box item">
        <a href="#">
            <div class="carousel-caption">
                Republican budget leader Paul Ryan
                faces key test in fiscal talks
            </div>
            <img class="img-responsive" src="~/Assets/Templates/GlobalNews/images/banner-slider/slide-img-1.jpg" width="1600" height="350" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-model-s"></span>lifestyle</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </a>
    </div>
    <div class="box item">
        <a href="#">
            <div class="carousel-caption">
                Republican budget leader Paul Ryan
                faces key test in fiscal talks
            </div>
            <img class="img-responsive" src="~/Assets/Templates/GlobalNews/images/banner-slider/slide-img-2.jpg" width="1600" height="350" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-flask"></span>business</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </a>
    </div>
    <div class="box item">
        <a href="#">
            <div class="carousel-caption">
                Republican budget leader Paul Ryan
                faces key test in fiscal talks
            </div>
            <img class="img-responsive" src="~/Assets/Templates/GlobalNews/images/banner-slider/slide-img-3.jpg" width="1600" height="350" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-model-s"></span>travel</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </a>
    </div>
    <div class="box item">
        <a href="#">
            <div class="carousel-caption">
                Republican budget leader Paul Ryan
                faces key test in fiscal talks
            </div>
            <img class="img-responsive" src="~/Assets/Templates/GlobalNews/images/banner-slider/slide-img-4.jpg" width="1600" height="350" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-model-s"></span>soprt</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </a>
    </div>
    <div class="box item">
        <a href="#">
            <div class="carousel-caption">
                Republican budget leader Paul Ryan
                faces key test in fiscal talks
            </div>
            <img class="img-responsive" src="~/Assets/Templates/GlobalNews/images/banner-slider/slide-img-5.jpg" width="1600" height="350" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </a>
    </div>
    <div class="box item">
        <a href="#">
            <div class="carousel-caption">
                Republican budget leader Paul Ryan
                faces key test in fiscal talks
            </div>
            <img class="img-responsive" src="~/Assets/Templates/GlobalNews/images/banner-slider/slide-img-6.jpg" width="1600" height="350" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-model-s"></span>sport</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </a>
    </div>
    <div class="box item">
        <a href="#">
            <div class="carousel-caption">
                Republican budget leader Paul Ryan
                faces key test in fiscal talks
            </div>
            <img class="img-responsive" src="~/Assets/Templates/GlobalNews/images/banner-slider/slide-img-7.jpg" width="1600" height="350" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-model-s"></span>Lifestyle</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </a>
    </div>
    <div class="box item">
        <a href="#">
            <div class="carousel-caption">
                Republican budget leader Paul Ryan
                faces key test in fiscal talks
            </div>
            <img class="img-responsive" src="~/Assets/Templates/GlobalNews/images/banner-slider/slide-img-8.jpg" width="1600" height="350" alt="" />
            <div class="overlay"></div>
            <div class="overlay-info">
                <div class="cat">
                    <p class="cat-data"><span class="ion-model-s"></span>business</p>
                </div>
                <div class="info">
                    <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
            </div>
        </a>
    </div>
</div>