<div class="logo-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/img/Logo.png" alt="">
                </a>
            </div>
            
            <!-- end col -->
            <div class="col-md-9 col-sm-12">
                <div class="ads-widget clearfix">
                    @*<a href="#"><img src="~/Assets/Templates/Techmag/upload/banner_03.jpg" alt="" class="img-responsive"></a>*@
                </div>
                <!-- end ads-widget -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>