<div class="logo-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h2 class="text-info">CafeT.vn</h2>
                @*<a class="navbar-brand" href="/">
                    <img src="~/Assets/Customizes/images/chuyen-toan.png" alt="">
                </a>*@
                <span class="text-danger">Công nghệ và Ứng dụng</span>
            </div>
            
            <!-- end col -->
            <div class="col-md-9 col-sm-12">
                <div class="ads-widget clearfix">
                    @*<a href="#"><img src="~/Assets/Templates/Techmag/upload/banner_03.jpg" alt="" class="img-responsive"></a>*@
                </div>
                <!-- end ads-widget -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>