@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (ViewBag.Web_About != null)
{
    @Html.Raw(ViewBag.Web_About)
}

<p>Use this area to provide additional information.</p>

@*@Html.Partial("_HtmlEmbedYoutube", "qY5atXRGIZM")*@