
.nav-link, .navbar-brand {
    color: white;
    cursor: pointer;
}

.nav-item {
    color: white;
}

.nav-link {
    margin-right: 1em !important;
}

    .nav-link:hover {
        background: #f4f4f4;
        color: #f97300;
    }

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}

.side-menu.left {
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 70px;
    z-index: 99;
}

#sidebar-menu {
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px !important;
    width: 100%;
}

    #sidebar-menu, #sidebar-menu ul, #sidebar-menu a {
        font-weight: normal;
        line-height: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-decoration: none;
    }

        #sidebar-menu li {
            font-weight: normal;
            line-height: 1;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
            text-decoration: none;
            border: 1px solid rgba(0,0,0,.125);
        }

.menu-title {
    padding: 12px 25px !important;
    /*letter-spacing: .035em;*/
    cursor: default;
    /*font-size: 13px;*/
}

#search-box {
    background-color: #ffffff;
    padding-bottom: 10px;
    padding-top: 20px !important;
    width: 100%;
}
