@model Mvc5.CafeT.vn.ModelViews.YouTubeView

<div>
    @if (Model.UpdatedDate.HasValue)
    {
        @Html.Raw(Model.UpdatedDate.Value.TimeAgo())
        @Html.Raw(" by: " + Model.CreatedBy.GetFromBeginTo("@"))
    }
    else
    {
        @Html.Raw(Model.CreatedDate.TimeAgo())
        @Html.Raw(" by: " + Model.CreatedBy.GetFromBeginTo("@"))
    }
</div>




