@model IEnumerable<Mvc5.CafeT.vn.ModelViews.YouTubeView>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            @Html.Partial("Videos/_Item", item)
        </div>
    }
</div>

